body {
      background-color: #f0f6fb;
      color: #2c3e50;
    }

    .navbar {
      background-color: #a8cde8;
    }

    .navbar .nav-link,
    .navbar .navbar-brand {
      color: #2c3e50;
      font-weight: 500;
    }

    .navbar .nav-link:hover {
      color: #1a3c57;
    }

    .btn-primary {
      background-color: #6daedb;
      border-color: #6daedb;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
      background-color: #1a3c57;
      border-color: #1a3c57 ;
      transform: scale(1.1);
    }

    footer {
      background-color: #a8cde8;
      color: #2c3e50;
    }
